.header-img {
    float: left;
    vertical-align:middle;
}
.nanocharlas-title{
    font-size: 36px;
}
.nanocharlas-introduction{
    font-size: 20px;
}
.nanocharlas-description{
    text-align:left;
    font-size: 18px;
}