.page-content{
    overflow:hidden;
    height:100%;
    color:#000;
    background-color:#fff;
    border: solid 1px white;
    font-size:medium;
}
.section-header{
    height:20px;
    color:#fff;
    background-color:#666;
}