.page-header {
    margin:0;
    padding:0;
    overflow:hidden;
    height: 15px;
    color: #fff;
    background-color: #000;
    border: solid 1px black;
    font-size:medium;
    text-align: center;
    vertical-align:middle;
}
.header-img {
    float: left;
    vertical-align:middle;
}
.header-title{
    font-size: xx-large;
}