.container{
    margin:0;
    padding:0;
    width:100%;
    height:720px;
    color:#000;
    background-color: #eee;
    font-family: sans-serif;
}
.pageContainer{
    margin:0;
    padding:0;
    display:flex;
    flex-direction: column;
    color:#000;
    background-color:#ccc;
    border: solid 1px black;
}
.pageHeader {
    margin:0;
    padding:0;
    height: 166px;
    color: #fff;
    background-color: #000;
    border: solid 1px black;
    font-size: 24px;
    text-align: center;
    vertical-align:middle;
}
.pageBody {
    flex-grow: 1;
    height:540px;
    color: #000;
    background-color: transparent;
    text-align: center;
    font-size: 17px;
}
.pageMenu{
    float:left;
    width:171px;
    height:100%;
    background-color:#fff;
    border: solid 1px black;
}
.pageContent{
    left:173px;
    height:100%;
    background-color:#fff;
    border: solid 1px white;
}
.pageFooter {
    margin:0;
    padding:0;
    height:16px;
    color: #fff;
    background-color: #000;
    text-align: right;
    font-size: 12px;
}
.header_img {
    float: left;
    vertical-align:middle;
}
.nanocharlas_title{
    font-size: 36px;
}
.nanocharlas_introduction{
    font-size: 20px;
}
.nanocharlas_description{
    text-align:left;
    font-size: 18px;
}
.index_bulletpoint{
    text-align:left;
    font-size: 20px;
    font-weight:bold;
}
.index_bulletpoint_hover{
    text-align:left;
    font-size: 20px;
    font-weight:bold;
}