.container{
    z-index:0;
    position:fixed;
    left: 0;
    top: 0;
    padding: 0;
    border: 0;
    width:100%;
    color:#000;
    background-color: transparent;
    font-family: sans-serif;
}
.pageContainer{
    z-index: 1;
    position: relative;
    left: 0;
    top: 0;
    padding: 0;
    border: 0;
    height:99%;
    color:#000;
    background-color:#ccc;
    border: solid 1px red;
}
.pageHeader {
    z-index: 2;
    position: relative;
    height: 170px;
    color: #fff;
    background-color: #000;
    text-align: center;
    font-size: 24px;
    vertical-align:middle;
}
.pageContent {
    z-index: 4;
    position: relative;
    color: #000;
    background-color: #ccc;
    text-align: center;
    font-size: 17px;
    min-height:500px;
}
.pageFooter {
    z-index: 3;
    position: relative;
    bottom:0;
    height: 20px;
    color: #fff;
    background-color: #000;
    text-align: right;
    vertical-align:middle;
    font-size: 12px;
}
.header_img {
    z-index: -1;
    float: left;
    vertical-align:middle;
}
.nanocharlas_title{
    font-size: 36px;
}
.nanocharlas_introduction{
    font-size: 20px;
}
.nanocharlas_description{
    text-align:left;
    font-size: 18px;
}
.index_bulletpoint{
    text-align:left;
    font-size: 20px;
}